*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Teko', sans-serif;
    
}

body{
    width: 100vh;
    height:100vh;
    background: url(img/login\ back.jpg)  ;
    background-size: cover;
    background-position: center;
   padding-left :50%;
   padding-right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    width: 500px;
    height:65%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h2{
    color:#ffffff;
    text-transform:uppercase;
    padding: 20px 0;
    font-size: 2em;
}
.form-group{
    position: relative;

    border-bottom: 3px solid#fff;
    width: 330px;
    border-bottom: 3px solid #fff;
    margin:30px;
}
.form-group input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;

    font-size: 1.2em;
    color: #fff;
    padding: 0 30px 0 10px;

}
.form-group label{
    position: absolute;
    top: 50%;
    left:10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #ffff;
    transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label

{
    top:-4px;
}
.form-group i{
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
     color: #fff;
     font-size: 1.2em;

}
p{
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
p>a{
    padding-left: 2%;
 color: #fff;
 text-decoration: none;
 font-weight: 600;
}
p>a:hover{
    text-decoration: underline;
    

}
#btn{
    width: 50%;
    height: 50%;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    font-weight: 600px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

}
#btn:hover{
    background: rgba(0, 0, 0, 0.3);
    color:#fff;
}